*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:rgb(155, 240, 240);
}
h1{
    background-color: cadetblue;
    color: #000;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}

.choices{
   
    display: flex;
    justify-content: center;
      align-items: center;
  gap: 3rem;
  margin-top: 5rem;

}
.choice:hover {
  cursor: pointer;
  opacity: 0.5;
  background-color: black;
}
.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.score{
  font-size: 3rem;
  margin-top:2rem;
  gap: 5rem;
}

#user-score,#comp-score{
  font-size: 4rem;
}
img{
     height: 150px;
    width: 150px;
    border-radius: 100px;
    object-fit: cover;
   
}
#msg {
  background-color: black;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  margin-top: 1rem;
   border-radius: 1rem;
}
.msg-container{
  margin-top: 2rem;
  
}